{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block current_app_content %}
    <div class="container" style="margin-top:40px">
        <div class="col-md-3">
            <div id="menu">
                <!--UdmComment-->

                <div class="promo11">
                    <h2 style="color: #e87c00; margin: 0px 0px 8px 0px">Contact Sales</h2>
                    <p style="font-size: 90%;">
                        {% for a in contact %}
                            {{ a.country }}: <span class="nobr">{{ a.phone }}</span><br>
                        {% endfor %}
                    </p>
                    <p><strong><a class="moreinfo" href="{{ url_for('main.contact') }}">Contact Us
                        Online&nbsp;»</a></strong></p>
                </div>

                <!--/UdmComment-->
            </div>
        </div>
        <div class="col-md-9">
            <div class="right-content-bg">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-4">How to Buy MySQL Products and Services</h1>
                    </div>
                </div>

                {% for a in htb %}
                    <hr>
                    <h2>{{ a.title }}</h2>
                    <p>{{ a.content }}</p>
                    <a href="{{ a.url }}">LEARN MORE</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}